<h2>Login</h2>
<div class="block">
  <div class="flash-block">
    <% flash.each do |name, msg| %>

      <% if msg.class == Array %>
        <% msg.each do |message| %>
          <%= content_tag :div, message, id: "flash_#{name}", class: "flash_message" %>
        <% end %>
      <% else %>

        <%= content_tag :div, msg, id: "flash_#{name}", class: "flash_message" %>

      <% end %>
    <% end %>
  </div>

  <section class="login-block">
      <div class="row">
        <div class="col login-sec">
          <%= form_for(
            resource,
            as: resource_name,
            url: session_path(resource_name),
            class: "login-form") do |f|
          %>
            <div class="field form-group label-size">
              <%= f.label :email %><br />
              <%= f.email_field :email,
                autofocus: true,
                autocomplete: "email",
                class: "form-control w-25",
                placeholder: "Email ID"
              %>
            </div>

            <div class="field form-group label-size">
              <%= f.label :password %><br />
              <%= f.password_field :password,
                autocomplete: "current-password",
                class: "form-control w-25",
                placeholder: "Password"
              %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field custom-control custom-checkbox form-check">
                <%= f.check_box :remember_me, class: "custom-control-input form-check-input" %>
                <%= f.label :remember_me, class: "custom-control-label form-check-label" %>
              </div>
            <% end -%>

            <div class="actions mt-3">
              <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary text-light'  %>
              <%= f.submit "Log in", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
  </section>
</div>
